.articleList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
  grid-gap: 3rem;
  width: 80%;
}

@media (max-width: 768px) {
  .articleList {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 80px;
    grid-gap: 3rem;
  }
}

@media (max-width: 600px) {
  .articleList {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 47px;
  }
}

@media (max-width: 321px) {
  .articleList {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30px;
  }
}
