.logOutBtn:hover {
  background: transparent !important;
  border-width: 3px;
  border-color: red;
  color: red !important;
  font-weight: bold !important;
}

.loginButton:hover {
  background: transparent !important;
  border-width: 3px;
  border-color: #3086ac;
  color: #3086ac !important;
  font-weight: bold !important;
}
