.articlePage {
  height: 100vw;
}
.articleWrap {
  max-width: 1232px;
  margin: 0 auto;
  padding: 1rem 0;
}

.articleGoBack {
  text-decoration: none;
  font-size: 1.2rem;
  color: #8f8d8d;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}

.articleDate {
  font-size: 0.8rem;
  color: #8f8d8d;
  font-weight: 500;
}

.blogSubCategory > div {
  margin: 1rem;
}

.articleDesc {
  /* padding: 1rem; */
  margin-top: 1.5rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}
