.hero {
  background-image: url("../../assets/images/Banner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  z-index: 2;
}

.container {
  margin: 0 5vw;
}

.overlay {
  background: #1f576f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 30%;
  z-index: -1;
}

.exploreBtn:hover {
  background: transparent !important;
  border-width: 3px;
  border-color: #3086ac;
  font-weight: bold !important;
}

@media (max-width: 1025px) {
  .H1 {
    font-size: 35px !important;
  }

  .P {
    font-size: 20px !important;
  }

  .exploreBtn {
    font-size: 25px !important;
    padding: 10px;
    margin-top: 20px !important;
  }
}

@media (max-width: 541px) {
  .H1 {
    font-size: 20px !important;
  }

  .P {
    font-size: 15px !important;
  }

  .exploreBtn {
    font-size: 15px !important;
    padding: 10px;
    margin-top: 15px !important;
  }
}

@media (max-width: 376px) {
  .H1 {
    font-size: 20px !important;
  }

  .P {
    font-size: 15px !important;
  }

  .exploreBtn {
    font-size: 15px !important;
    padding: 10px;
    margin-top: 15px !important;
  }
}

@media (max-width: 281px) {
  .H1 {
    font-size: 15px !important;
  }

  .P {
    font-size: 10px !important;
  }

  .exploreBtn {
    font-size: 10px !important;
    padding: 2px;
    margin-top: 10px !important;
  }
}
