.hero {
  background-image: url("../../assets/images/Banner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  z-index: 2;
}

.container {
  margin: 0 5vw;
}

.overlay {
  background: #1f576f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 30%;
  z-index: -1;
}

.exploreBtn:hover {
  background: transparent !important;
  border-width: 3px;
  border-color: #3086ac;
  font-weight: bold !important;
}
