.blogContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.blogTitle {
  padding: 2rem 0;
}

.linkBtn:hover {
  background: transparent !important;
  border-width: 3px;
  border-color: #3086ac;
  color: #3086ac !important;
  font-weight: bold !important;
}

.image {
  width: 300px;
  height: 233px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
