.trandingContent {
  padding-top: 2rem;
  display: flex;
}

.articleItemDesc {
  position: relative;
  max-height: 60px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #686666da;
}

.postContent {
  width: 100%;
}

.trandingContent .postContent > .postImage,
.postTitle {
  padding: 1rem 2rem;
  position: relative;
}

.img {
  border-radius: 10px !important;
}

.postInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #28708f;
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 30%;
  border-radius: 3rem;
}

.trandingContent .postContent > .postImage > div {
  overflow: hidden;
}

.trandingContent .postContent > .postImage .img {
  width: 100%;
  transition: all 1s ease;
}

.trandingContent .postContent > .postImage .img:hover {
  transform: scale(1.3);
}

.trandingContent .postContent > .postImage .postInfo span {
  margin: 0 0.5rem;
}

.trandingContent .postContent a {
  font-size: 1.5rem;
}

.trandingContentt .postContent .postTitle {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background-color: "#3086AC";
}

.postBtn:hover {
  background: transparent !important;
  border-width: 3px;
  border-color: #3086ac;
  color: #3086ac !important;
  font-weight: bold !important;
}

@media only screen and (max-width: 1130px) {
  .trandingContent .postContent > .postImage .postInfo {
    left: 2rem !important;
    bottom: 1rem !important;
    border-radius: 0% !important;
  }
}
