.articleItem {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.articleItemCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0.5rem;
}

.articleItemDesc {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #686666da;
}

.articleItemDesc::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.articleItemLink {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}

.articleItemAuthor {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.1rem;
  margin-right: 0.5rem;
}

@media (max-width: 1126px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 896px) {
  .title {
    font-size: 15px;
  }

  .authorName {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 15px;
  }

  .authorName {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
}
